@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

h1,h2,h3,h4,h5 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

p, span, {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.7rem;
}
