@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
h1,h2,h3,h4,h5 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

p, span, a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.7rem;
}
