.coming-soon {
  h2 {
    font-size: 2.5rem;
  }
  p {
    &.sub {
      font-size: 1.2rem;
    }
  }
  .layout-1 {
    ul {
      list-style: none;
    }
  }
  .layout-2 {
    .no-padding {
      padding-left: 0;
      padding-right: 0;
    }
    .left-img {
      margin-top: 293px;
    }
    .right-img {
      max-width: 350px;
    }
  }
}
