.homepage-header {
  position: relative;
  padding-top: 2.5rem;
  .now-showing-type {
    position: absolute;
    z-index: -1;
    opacity: 0.03;
    padding-left: 8rem;
    @media screen and (min-width: 900px) and (max-width: 1200px) {
      left: -3rem;
    }
    top: 5px;
    h1 {
      font-size: 10rem;
      @media screen and (min-width: 900px) and (max-width: 1200px) {
        line-height: 9rem;
      }
    }
  }
  .no-padding {
    padding-left: 0;
    padding-right: 0;
  }
  .left {
    padding-left: 8rem;
  }
  .left-text { // top left text

    @media screen and (min-width: 900px) and (max-width: 1200px) {
      padding-left: 0;
    }
    .top-p {
      font-size: 19px;
      text-transform: uppercase;
      color: $black;
      font-family: $headline-font;
      margin-top: 6rem;
    }
    h1 {

      @media screen and (max-width: 1200px) {
        font-size: 3.5rem;
      }
    }
  }
  .left-img { // bottom img
    bottom: 0;
  }
  .right-img { // right img
    // max-width: 40rem;
    @media screen and (max-width: 1200px) {
      max-width: 100%;
    }
  }

}


.homepage-header2 {
  position: relative;
  .header-title {
    font-size: 4rem;
    width: 40rem;
    transform: rotate(90deg);
	transform-origin: 90px 175px;
  display: inline-block;
  &.surname {
        transform-origin: 170px 170px;
        .middle-name {
          font-size: 3rem;
          font-family: $headline-font;
          font-weight: bold;
          color: #cccccc;
          padding-right: 15px;
        }
  }
  }
  .header-container {
    padding-left: 50px;
    padding-top: 0px;
    padding-right: 50px;
    overflow: hidden;
    height: 660px;
  }
  .vertical-line {
    vertical-align: middle;
    height: 5px;
    width: 120px;
    display: inline-block;
    margin-bottom: 33px;
    background-color: $black;
  }
}


.logo {
  position: relative;
  width: 100%;
  h1 {
    position: relative;
    top: 20px;
    left: 15px;
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 50px;
    padding-left: 30px;
  }
}
