.saatchi-gallery {
  margin-top: 8rem;
  margin-bottom: 8rem;
  position: relative;

  .visits {
    background-size: 30rem;
    padding: 2rem;
    color: white;
    a {
      color: white;
      display: block;
      font-weight: bold;
    }
  }
  .store {
    background-size: 30rem;
    padding: 2rem;
    color: white;
    padding: 2rem;
    color: white;
    a {
      color: white;
      display: block;
      font-weight: bold;
    }
  }
}
