.visit-saatchi {
   .bg {
     background-image: url('/img/get-pattern-01.svg');
      background-size: 45rem;
      height: 8rem;
      display: block;
      margin-right: 4.7rem;
      margin-top: 3rem;
      margin-left: 9rem;
  }
}
