.visit-saatchi {
    h3 {
      padding-top: 1rem;
      padding-left: 2rem;
      font-size: 1.8rem;
    }
   .bg {
     background-image: url('/img/get-pattern-01.svg');
      background-size: 45rem;
      height: 11rem;
      display: block;
      margin-right: 4.7rem;
      margin-top: 2rem;
      margin-left: 1rem;
  }
  h4 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .underground, .buses {
    padding-left: 1rem;
    img {
      width: 40px;
      margin-bottom: 1rem;
      display: inline-block;
    }
    p {
      display: inline-block;
      margin-top: 0.2rem;
      vertical-align: top;
      padding-left: 13px;
    }
  }
  .opening {
    p {
      margin-top: 1rem;
    }
  }
}
